@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*{
  /*border:2px solid blanchedalmond;*/
}
body {
  background-image: url(/image/background.svg);
}
li,a {
  font-family: "Merriweather";
  font-size: 12px;
  color: white;
  text-decoration: none;
  list-style: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5em;
}
.menu{
  float: left;
}
.menu li{
  padding: 1em 2em 1em 1em;
}
.nav-link,.menu {
  list-style: none;
  padding: 1em;
}


.nav-link,.menu li {
  display: inline-block;
}

.nav-link li{
  display: inline-block;
}

#intro{
  text-align: center;
}

.logo li img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.moto-info{
  margin: auto;
  padding: 0  5em 5em 5em;
}

#slide{
  height: 70%;
  position: relative;
  display: inline-block;
  left: 5.5em;
}

#left-arrow,#right-arrow{
  position: relative;
  bottom: 15em;
}

#information
{
  margin: auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding:5em;
  border-radius: 4em;
}
#parameter-name{
  color: black;
  font-size: 15px;
  padding:1em 1em 1em 0;
  font-family:'Lato';
}
#value{
  color: black;
  font-family: 'Lato';
  font-weight: bold;
  font-size: large;
}